body {background-color:#f5f6f7;}
header {
    display: flex;
    justify-content:center;
    margin: 40px 0;
}
header h1 {}
header h1 a {}
header h1 img {}
main {
    display: flex;
    justify-content: center;}
main #sign_up {}
main #sign_up fieldset {
    width: 448px;
}
main #sign_up fieldset dl {}
main #sign_up fieldset dl dt {    
    margin-bottom: 10px;}
main #sign_up fieldset dl dd { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
}
main #sign_up fieldset dl dd input[id$=user1] {
    border: 0;
    width: 73%;
    height: 60%;
    }   
main #sign_up fieldset dl dd input[id$=user] {
    border: 0;
    width: 95%;
    height: 60%;    
}
main #sign_up fieldset dl dd span {
}

main #sign_up fieldset dl .birth {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;;
    border: none;
}
main #sign_up fieldset dl .birth dd {
    width:32%;
    height: 100%;
    }
main #sign_up fieldset dl .birth dd input {
    border: none;
    width:100%;
    height: 100%;
}

main #sign_up fieldset dl dd select {
    width:100%;
    height: 100%;
    border: none;
}
main #sign_up fieldset dl dd select option {}
main #sign_up fieldset dl dt em {}
main #sign_up fieldset dl .phone {


}
main #sign_up fieldset dl .phone {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
main #sign_up fieldset dl .phone input {
    width: 73%;
    height: 50px;
    border: 0;
    margin-bottom: 10px;
}
main #sign_up fieldset dl .phone .number {
    width: 25%;
    height: 50px;
    background-color: #19ce60;
    color:#fff;
    font-size: 0.75rem;}
main #sign_up fieldset #v_code {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
}
main #sign_up fieldset p .sign_up {
    background-color: #19ce60;
    width:100%;
    height: 60px;
    margin-bottom: 40px;
    color:#fff;
}
main #sign_up footer {
    text-align: center;
    ;
}
main #sign_up footer a {
    font-size: 0.75rem;
}
main #sign_up footer a::after { 
    content:'';
    display: inline-block;
    width: 1px; height: 10px; background-color: #000;
    margin: 0 7px;
}
main #sign_up footer a:nth-child(4)::after {display: none; margin: 0;}
main #sign_up footer p {    
    font-size: 0.75rem;
    margin-bottom: 40px;
    margin-top: 10px;}
